@import "base";
@import "storymaps";

body{
	overflow: auto;
}

#form-item, #form-item-search{
	max-width: none;
}

#item-error, .feature-text .alert{
	display: none;
}

.esriSignInDialog th, .esriSignInDialog td, .esriSignInDialog label{
	padding: 0;
	margin: 0;
}

.esriSignInDialog td br{
	display: none;
}

.esriSignInDialog td{
	padding-bottom: 15px;
}

#map{
	width: 100%;
	height: 500px;
	border: 1px solid $lightest-gray;
}

#geocoder{
	position: absolute;
	top: 20px;
	right: 28px;
	z-index: 100;
	input{
		padding: 0;
	}
	input:focus{
		border: none;
	}
}

#item-add{
	margin-right: 5px;
}

.sync-image, small{
	margin-left: 5px;
	vertical-align: middle;
}

.results, .upload-message, .search-message, .edit-message, .delete-message{
	display: none;
}