<div id="builder-menu" class="region-top">
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="inner-header">
					<div class="logo-wrap">
						<h2 id="site-logo"><%= data.advancedSettings.appName %> Builder</h2>
					</div>
					<nav>
						<ul>
							<li><a href="index.html">Settings</a></li>
							<li><a href="index.html">Preview</a></li>
							<li><a href="about.html">Discard</a></li>
							<li><a href="about.html">Save</a></li>
						</ul>
					</nav>
					<div id="esri-logo">Esri</div>
				</div>
			</div>
		</div>
	</header>
</div>